             h1{
                font-size: 9vw;
                font-style: bold;
                color: #0a99d1;
            }
            h2{
                font-size: 5vw;
            }

            .center{
                text-align: center;
            }
            .centerEvil{
                text-align: center;
                color: red;
            }

            .button {
                background-color: #0a99d1;
                border: none;
                color: white;
                padding: 20px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 25px;
                margin: 4px 2px;
                cursor: pointer;
            }

            .buttonHelp {
                border-radius: 12px;
                position:absolute;
                margin-bottom: 100px;
                top: 250px;
                left: 400px;
            }
       
            .buttonFlow {border-radius: 12px;
                position:absolute;
                top: 525px;
                left: 350px;
            }
            .buttonPoems {
                border-radius: 12px;
                position: absolute;
                top: 525px;
                left: 510px;
            }
            .buttonBunny {
                position:absolute;
                border-radius: 12px;
                top: 525px;
                left: 660px;
            }
            .buttonLove {
                position:absolute;
                border-radius: 12px;
                top: 525px;
                left: 825px;
            }
            .buttonPeace {
                position:absolute;
                border-radius: 12px;
                top: 525px;
                left: 950px;
            }
            .PostR{
                margin-bottom: 50px;
                border-style: solid;
                border-color:#ec1c1c;
                border-radius: 12px;
                padding: 10px;

            }
            .PostB{
                margin-bottom: 20px;
                border-style: solid;
                border-color:#7bc6e3;
                border-radius: 12px;
                padding: 10px;

            }
            .buttonBunny {
                position:absolute;
                border-radius: 12px;
                top: 525px;
                left: 660px;
            }
            .meta{
                color: #777;
            }

            