@font-face {
    font-family: "Angular";
    src: url(../fonts/angular.ttf);
}

body {
    background-image: url(../images/Page3_1.png);
        background-repeat: no-repeat;
        background-size: cover;

    color: white;
    font-size: 2vw;
    font-family: "Angular", 'Times New Roman', Times, serif;
    /* background-image: url(../images/test1.png); */
}

.title {
    position: absolute top: 30% left: 30%;
}
a {
    color: white;
    text-decoration: none;
}

a:hover {
    font-size: 3vw;
    color: #23c846;
}
